# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/

# Project specific
*.hdf5
*.csv
simulation_results*
*.log

# Docker
.docker
Dockerfile
docker-compose.yml
.dockerignore